asn1crypto==0.23.0

awsebcli==3.7.7

beautifulsoup4==4.3.2

blessed==1.9.5

boto==2.34.0

botocore==1.4.47

cement==2.8.2

cffi==1.11.2

characteristic==0.1.0

chardet==2.3.0

colorama==0.3.7

coreapi==1.32.0

cryptography==2.1.2

defusedxml==0.5.0

dj-database-url==0.4.1

Django==1.10.4

django-allauth==0.27.0

django-bootstrap3==7.0.1

django-braces==1.9.0

django-cors-headers==2.1.0

django-crontab==0.7.1

django-debug-toolbar==1.4

django-filter==0.13.0

django-google-charts==0.1.1

django-kronos==0.9

django-mathfilters==0.4.0

django-pipeline==1.6.14

django-rest-auth==0.8.1

django-sidebar==0.2.0

djangorestframework==3.4.0

docker-py==1.7.2

dockerpty==0.4.1

docopt==0.6.2

docutils==0.12

html5lib==0.999

httplib2==0.9

idna==0.9
itypes==1.1.0
jmespath==0.9.0

lockfile==0.8

Markdown==2.6.6
ndg-httpsclient==0.3.2

oauthlib==2.0.6

pathspec==0.3.4

Pillow==2.7.0

piston-mini-client==0.7.5

psycopg2==2.7.3.1

pycparser==2.18

pycrypto==2.6.1

pyOpenSSL==17.5.0

python-crontab==2.1.1

python-dateutil==2.5.3

python-openid==2.2.5

python3-openid==3.1.0

pyxdg==0.25

PyYAML==3.11
reportlab==3.3.0

requests==2.9.1

requests-oauthlib==0.7.0

semantic-version==2.5.0

simplejson==3.8.2
six==1.10.0

sqlparse==0.1.19

suds-jurko==0.6

texttable==0.8.4

unicodecsv==0.14.1

uritemplate==0.6

virtualenv==15.0.3
wcwidth==0.1.7

websocket-client==0.37.0

whitenoise==3.3.1

zope.interface==4.1.1
