{% extends "backofficebase.html" %}
{% load static %}

<!-- Reference to related css file -->
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/addoffer.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-lg-12" style="text-align: center">
                    <br><br>
                    <h3 style="font-weight: bold">Agregar nueva oferta de empleo</h3> <br>
                    <form enctype="multipart/form-data" class="form-horizontal form-validate form-inline" action="" method="post" accept-charset="utf-8" class="form-group" role="form" id="formularioform" novalidate>
                        {% for field in form %}
                            <div class="control-group" id="{{field.name}}-state">
                                <div class="input-group">
                                    <span class="input-group-addon fields" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                </div>
                                <!-- Not valid fields and errors validation -->
                                <span class="error" id="{{ field.name }}-icon"></span>
                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                {{ field.errors }}
                            </div><br>
                        {% endfor %}
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <!-- Sign up button to send the input values -->
                        <br><br>
                        <button class="btn btn-primary" type="submit" value="Registrar" id="submit_button" style="background: #2e6da4;">Agregar</button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- jQuery Functions needed -->
{% block custom_script %}

{% endblock %}