{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock custom_css %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="row" style="padding-top: 5%">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8" id="colcenter" >
                    <img alt="Brand" src="{% static "images/logo_2000.png" %}"style="max-width: 28%;"><br><br><br><br>
                    {% if validlink %}
                        <h4>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>
                        <div class='box-agruppa'>
                            <form method="post">{% csrf_token %}
                                {{ form.new_password1.errors }}
                                <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
                                {{ form.new_password2.errors }}
                                <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
                                <p><button class="btn btn-primary" type="submit" value="Registrar" id="submit_button" >Cambiar mi contraseña</button></p>
                            </form>
                        </div>
                    {% else %}
                        <h3>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h3>
                    {% endif %}
                    <br><br>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>



{% endblock %}
