{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock custom_css %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="row" style="padding-top: 5%">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8" id="colcenter" >
                    <img alt="Brand" src="{% static "images/logo_2000.png" %}"style="max-width: 28%;"><br><br><br><br>
                    <h4>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4>
                    <br><br>
                    <form method="post">{% csrf_token %}
                        {{ form.email.errors }}
                        <label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <br><br> <button class="btn btn-primary" type="submit"  id="submit_button" >Restablecer mi contraseña</button>

                    </form>
                    <br><br>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
