{% extends "backofficebase.html" %}
{% load static %}

<!-- Reference to related css file -->
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/insc.css' %}" />

{% endblock %}

{% block content %}

    <div class="container" style="text-align: center">
        <br>
        <h3 style="text-align: center;font-weight: bold">Promedios de aspiración salarial de los postulantes</h3>
        <div class="row">
            <div class="col-md-12">
                <h3>Promedio General</h3>
                <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value">{{ promgeneral1|floatformat:2 }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for carg in cargosobj1 %}
                <div class="col-md-3 col-sm-6">
                    <h3>{{ carg.name }}</h3>
                    <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                        <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                        <div class="progress-value">{{ carg.prom|floatformat:2  }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><hr><br>
    <div class="container" style="text-align: center">
        <h3 style="text-align: center;font-weight: bold">Promedios de salario actual de los postulantes</h3>
        <div class="row">
            <div class="col-md-12">
                <h3>Promedio General</h3>
                <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                    <div class="progress-value">{{ promgeneral2|floatformat:2 }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for carg in cargosobj2 %}
                <div class="col-md-3 col-sm-6">
                    <h3>{{ carg.name }}</h3>
                    <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                        <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                        <div class="progress-value">{{ carg.prom|floatformat:2  }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

<!-- jQuery Functions needed -->
{% block custom_script %}


{% endblock %}