<!DOCTYPE html>
<html lang="es-ES">
{% load static %}
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Beconsult</title>
    <!-- Site Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" />
    <!--
CSS
============================================= -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>


    <!-- Start header section -->
    <header class="header-area" id="header-area">
        <div class="dope-nav-container breakpoint-off">
            <div class="container" style="max-width: none;">
                <div class="row">
                    <!-- dope Menu -->
                    <nav class="dope-navbar justify-content-between" id="dopeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/">
                            <img src="{% static 'assets/img/logo.png' %}" alt="" title="">
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="dope-navbar-toggler">
                            <span class="navbarToggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <!-- Menu -->
                        <div class="dope-menu">

                            <!-- close btn -->
                            <div class="dopecloseIcon">
                                <div class="cross-wrap">
                                    <span class="top"></span>
                                    <span class="bottom"></span>
                                </div>
                            </div>

                            <!-- Nav Start -->
                            <div class="dopenav">
                                <ul id="nav">
                                    <li>
                                        <a href="#">QUIÉNES SOMOS</a>
                                    </li>
                                    <li>
                                        <a href="#">SERVICIOS</a>
                                    </li>
                                    <li>
                                        <a href="#">CAPTACIÓN</a>
                                    </li>
                                    <li>
                                        <a href="#">BENEFICIOS</a>
                                    </li>
                                    <li>
                                        <a href="#">NOTICIAS</a>
                                    </li>
                                    <li>
                                        <a href="#">CLIENTES</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Start Terminos y condiciones section-->
    <section class="terminos">
        <h1>Términos y Condiciones</h1>
        <p>En <strong>BECONSULT, C.A.</strong> (en lo adelante BECONSULT) ofrecemos soluciones integrales en diferentes áreas, entre ellas: Sistemas, Contabilidad, Auditoría, Legal, Gestión de Talento, Nómina, Seguros y Finanzas, para potenciar la productividad y el valor de nuestros clientes.</p>
        <p>Con nuestra evolución constante promovemos el desarrollo productivo del país, mediante alianzas estratégicas con socios y proveedores, potenciando en nuestros colaboradores la profundidad de conocimiento en sus áreas de especialidad.</p>
        <p>El usuario declara que al ingresar a este sitio web, acepta los las Condiciones Generales de Uso y la Política de Privacidad que se indica a continuación:</p>
        <p></p>

        <p>1. <strong>Uso correcto de los contenidos</strong></p>
        <p>Usted se obliga a usar los contenidos de forma diligente, correcta y lícita y, en particular, se compromete a abstenerse de (a) utilizar los contenidos de forma, o con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o  al orden público.</p>
        <p></p>

        <p>2. <strong>Propiedad Intelectual</strong></p>
        <p>Beconsult es titular del Derecho de Autor de este sitio, incluyendo textos, imágenes, video y/o audio, en consecuencia usted no podrá copiar, divulgar, distribuir (incluyendo correos electrónicos e Internet), transmitir, comunicar, modificar, alterar, ceder o, en cualquier otra forma desplegar actividades para uso comercial del contenido del sitio o de los elementos que lo integran, ya sea con carácter parcial o total, sin que conste el expreso consentimiento, otorgado por escrito.</p>
        <p>Sin que ello implique renuncia de los derechos y acciones,  usted puede descargar una copia del material en este sitio solamente para su uso personal, siempre que no suprima ni cambie cualquier derecho de propiedad intelectual, incluyendo pero no limitando las marcas y derechos de autor. De lo contrario esto constituye una violación de los derechos intelectuales, reservándose las acciones legales a que hubiere lugar.</p>
        <p>Las marcas registradas, logos, lemas desplegadas en este sitio web están debidamente licenciadas o autorizadas para su uso para Beconsult. Ningún contenido de este sitio web debe interpretarse como un otorgamiento de licencia de uso o derecho de uso de la marca, en consecuencia queda prohibido su uso, excepto para lo indicado en el párrafo anterior. Cualquier uso indebido o no autorizado de Beconsult por parte del usuario, dará derecho a ejercer las acciones legales, judiciales y extrajudiciales a que hubiere lugar.</p>
        <p></p>

        <p>3. <strong>Datos de Carácter Personal</strong></p>
        <p>Si usted proporciona datos de carácter personal (en adelante, Datos Personales), BECONSULT vigilará el cumplimiento de su política de privacidad y confidencialidad de la información.</p>
        <p>Se considerarán Datos Personales toda aquella información que permita identificarlo, o que afecte a  su esfera social más íntima, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave de exposición pública.</p>
        <p>Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales facilitados, y se comprometen a mantenerlos debidamente actualizados.</p>
        <p>Todos los Datos Personales de los usuarios serán almacenados en una base de datos automatizada.</p>
        <p></p>

        <p>4. <strong>Transferencia de Datos Personales</strong></p>
        <p>El usuario consiente en forma expresa que BECONSULT transfiera total o parcialmente los Datos Personales a cualquiera de las empresas clientes y relacionadas, a cualquier título y en el momento, forma y condiciones que estime pertinentes, con la finalidad de permitirles estudiar y seleccionar posibles candidatos para posiciones vacantes en las compañías clientes.</p>
        <p>En todo caso, BECONSULT garantiza el mantenimiento de la confidencialidad y el tratamiento seguro de los Datos Personales con motivo de la cesión de información que pueda producirse.</p>
        <p></p>

        <p>5. <strong>Legislación Aplicable</strong></p>
        <p>El contenido en esta página web es regulado de conformidad con el ordenamiento jurídico aplicable de la República Bolivariana de Venezuela, con las Condiciones Generales de Uso, y las Políticas de privacidad, y se aplicarán a todo visitante o usuario que acceda a misma.</p>
        <p></p>
        <p>6. <strong>Modificaciones</strong></p>
        <p>BECONSULT se reserva el derecho a modificar unilateralmente, en cualquier momento y sin aviso previo, la presentación y configuración del Sitio Web, así como las presentes condiciones generales requeridas para su uso. Por favor visite esta página periódicamente para estar correctamente informado acerca de las Condiciones Generales de Uso que resultan aplicables en cada momento, ya que al visitar este sitio web una vez modificadas, implica la aceptación las mismas.  </p>
        <p></p>

        <p>7.<strong>Política de Privacidad</strong></p>
        <p>BECONSULT trata los Datos Personales de los usuarios con carácter de confidencialidad, para ello, ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y aprovechamiento indebido de los Datos Personales.</p>
        <p>BECONSULT protegerá la privacidad de la información suministrada por los usuarios, por lo tanto, no venderá, alquilará o compartirá los Datos Personales salvo que, en virtud de órdenes judiciales, o de regulaciones legales, se solicite revelar información a las autoridades.</p>
        <p>BECONSULT, no se hace responsable de cualesquiera daños puedan ocasionarse al usuario y/o un tercero, derivada de la manipulación, interceptación y/o violación ilegal o ilegítima de los sistemas informáticos y bases de datos de este sitio web  por parte de personas no autorizadas. En tal sentido, se exhorta al usuario a notificar a través del correo<strong>captacion@beconsult.com</strong>, cualquier anormalidad en el funcionamiento u operación del presente sitio web.</p>
        <p></p>

        <p>8. <strong>Política Anti “spam”</strong></p>
        <p>Por defecto, el usuario recibirá envíos por correo electrónico relacionados con (i) la actividad entre la posición vacante y su perfil; (ii) posiciones vacantes recomendadas acorde a las ofertas laborales que se ajusten a su perfil; (iii) comunicaciones u ofertas de empresas clientes hechas a través de BECONSULT sobre información que pueda ser de interés del usuario; (iv) avisos especiales.</p>
        <p>Sin embargo, BECONSULT, no usará las direcciones de correo electrónico suministradas para envío de  información publicitaria no solicitada, práctica comúnmente conocida como “Spam”, y en este sentido hará sus mejores esfuerzos para hacer efectiva dicha política.</p>
        <p></p>

        <p>9. <strong>Contacto</strong></p>
        <p>En caso de tener dudas o comentarios respecto de las presentes <strong>Generales de Uso y Políticas de Privacidad</strong>; así como para ejercer sus derechos, BECONSULT le proporciona el siguiente contacto: <strong>captacion@beconsult.com</strong></p>
        <p></p>
    </section>
    <!-- End Terminos y condiciones section-->
      
    <!-- Start Scroll UP-->
    <div class="scroll-top">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- End Scroll UP-->

    <!-- Start footer -->
    <footer>
        <div>
            <p><a class="in" href="https://ve.linkedin.com/company/beconsult-ca"><i class="fa fa-linkedin"></i></a></p>
            <br/>
            <p style="text-align: center;">captacion@beconsult.com<br/>
                Caracas, Venezuela</p>
        </div>
        <div id="footer-info">© 2020 Beconsult, C.A. J-00003387-0. Todos los derechos reservados.<br><a href='/terminos'>Términos y Condiciones</a></div>
    </footer> 
    <!-- End footer -->
    <!--
JS
============================================= -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="assets/js/dopeNav.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>